<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FracTracker Data Portal</title>
    <!-- Include Project Specific CSS -->
    <link rel = "stylesheet" href = "/static/css/filtering.css"/>
    <link rel = "stylesheet" href = "/static/css/map.css"/>
    <link rel = "stylesheet" href = "/static/css/table.css"/>

    <!-- Include Leaflet CSS and JavaScript -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/mapbox/supercluster/v4.0.1/demo/cluster.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://unpkg.com/supercluster@4.0.1/dist/supercluster.js"></script>
    {% comment %} <script src="https://code.jquery.com/jquery-1.12.4.js"></script> {% endcomment %}
    <!-- for the underscore variable/js function-->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <!-- geojson vt  -->
    <script src="https://unpkg.com/geojson-vt@3.2.0/geojson-vt.js"></script>
    <script src="https://unpkg.com/leaflet-geojson-vt@1.1.0/src/leaflet-geojson-vt.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        html, body {
        height: 100%;
        width: 100%;
        display: flex;
        font-family: Arial;
        }
        

    </style>
</head>
<body>
    <div class="left">
        <!-- filtering tools here -->
        <div class="filterContainer" id="filterState">
            <label for="stateinputbox">Choose up to 3 states:</label>
            <div class="selectionContainer" id="statePicks">**REQUIRED**</div>
            {% comment %} <input type="text" id="stateinputbox" placeholder="Enter State... Ex: Colorado, Ohio, Pennsylvania" onclick="removeButton(event)"> {% endcomment %}
            {% comment %} <button class="dropdownbutton" id="statebutton" onclick="openstatelist()">Available States...</button> {% endcomment %}
            <button class="dropdownbutton" id="statebutton" onclick="openlist('state')">Available States...</button>
            <div class="button-container" id="state-container"></div>
        </div>
        <div class="filterContainer" id="ctyFilterContainer">
            {% comment %} <label for="countyPicks">County:</label> {% endcomment %}
            <div class="selectionContainer" id="countyPicks">Not necessary, but to filter down your request you can choose specific counties for each state by clicking the corresponding button below.</div>
            <button class="dropdownbutton" id="countybutton" onclick="openlist('county')">Counties in those states...</button>
            <div class="button-container" id="county-container"></div>
        </div>
        <div class="filterContainer" id="statusContainer">
            <div class="selectionContainer" id="statusPicks"></div>
            <button class="dropdownbutton" id="statusbutton" onclick="openlist('wellstatus')">Well Status (State Specific)</button>
            <div class="button-container" id="status-container"></div>
        </div>
        <div class="filterContainer" id="typeContainer">
            <div class="selectionContainer" id="typePicks"></div>
            <button class="dropdownbutton" id="typebutton" onclick="openlist('welltype')">Well Type (State Specific)</button>
            <div class="button-container" id="type-container"></div>
        </div>
        {% comment %} <div class="filterContainer">
            <label for="well_name">Well Name:</label>
            <input type="text" id="well_name" name="well_name" placeholder="Enter Well Name...">
        </div> {% endcomment %}
        <div class="filterContainer">
            <div class="filterschild1">
                <label for="category">FracTracker Category:</label>
                <select id="fta_cat" size=1>
                    <option value="initial">Select from dropdown...</option>
                    <option value="default">All</option>
                    <option value="Injection / Storage / Service">Injection / Storage / Service</option>
                    <option value="Not Drilled">Not Drilled</option>
                    <option value="Orphaned / Abandoned / Unverified Plug">Orphaned / Abandoned / Unverified Plug</option>
                    <option value="Other / Unknown">Other / Unknown</option>
                    <option value="Plugged">Plugged</option>
                    <option value="Production Well">Production Well</option>
                </select>
            </div>
        </div>
        <div >
            <button onclick="applyCategoryFilter()">Apply Filter</button>
        </div>
        <div id="loading-popup" class="loading-popup hidden">
            Retrieving the Records<span id="loading-dots"></span>
        </div>
    </div>
      <div class="right">
        <!-- Top content of the right side -->
        <div id="map">
            <div class="legend" id="legend">
                <div class="legend-header" id="legend-toggle">
                    <span>Legend</span>
                </div>
                <div class="legend-content">
                    <label class="category1"><input type="checkbox" id="category1" style="color:#A3CF5F;" checked> Injection / Storage / Service</label>
                    <label class="category1"><input type="checkbox" id="category2" style="color:green;" checked> Not Drilled</label>
                    <label class="category1"><input type="checkbox" id="category3" style="color:#FFC857;" checked> Orphaned / Abandoned / Unverified Plug</label>
                    <label class="category1"><input type="checkbox" id="category4" style="color:#00253B;" checked> Other / Unknown</label>
                    <label class="category1"><input type="checkbox" id="category5" style="color:#0287D4;" checked> Plugged</label>
                    <label class="category1"><input type="checkbox" id="category6" style="color:red;" checked> Production Well</label>
                </div>
            </div>
        </div>
        <div class="bottom">
        <!-- Bottom content of the right side -->

            <div class="tablecontainer">
                <div>
                    
                    {% comment %} <label for="sort-dropdown">Sort by:</label>
                    <select id="sort-dropdown">
                        <option value="lat">Column 1</option>
                        <option value="api_num">Column 2</option>
                        <option value="FracTracker Category">Column 3</option>
                        <option value="well_name">Column 4</option>
                        <option value="column5">Column 5</option>
                    </select> {% endcomment %}
                    <div>
                        <button onclick="downloadTableData(filteredData)">Download Table Data (CSV)</button>

                        {% comment %} <div class="input-button-container"> {% endcomment %}
                            <input type="number" id="page-input" placeholder="Jump to page #" min="1">
                            <button class="gobutton" onclick="goToPage()">Go</button>
                        {% comment %} </div> {% endcomment %}
                    </div>
                </div>
                <!-- Grid container for the table -->
                <table id="maintable">
                    <thead>
                        <tr>
                            <td id="pagination" colspan="100%">
                            <!-- Pagination buttons will be added here -->
                            </td>
                        </tr>
                    </thead>
                    <thead id="maintableheader" class="sticky-header-container">
                        <tr>
                            {% comment %} <th>TMPID</th> {% endcomment %}
                            <th>API Number</th>
                            <th>Other ID</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>State</th>
                            <th>County</th>
                            <th>Municipality</th>
                            <th>Well Name</th>
                            <th>Operator</th>
                            <th>Spud Date</th>
                            <th>Plug Date</th>
                            <th>Well Type</th>
                            <th>Well Status</th>
                            <th>Well Configuration</th>
                            <th>FracTracker Category</th>
                            {% comment %} <th>UID</th> {% endcomment %}
                        </tr>
                    </thead>
                    <tbody id="maintablebody">
                        {% comment %} <tr><td></td></tr> {% endcomment %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Include Project Specific JavaScript -->
    <script src = "/static/js/wells.js"></script>
</body>
</html>
