.leaflet-draw-section {
    position: relative;
  }
  
  .leaflet-draw-toolbar {
    margin-top: 12px;
  }
  
  .leaflet-draw-toolbar-top {
    margin-top: 0;
  }
  
  .leaflet-draw-toolbar-notop a:first-child {
    border-top-right-radius: 0;
  }
  
  .leaflet-draw-toolbar-nobottom a:last-child {
    border-bottom-right-radius: 0;
  }
  
  .leaflet-draw-toolbar a {
    background-image: url('../images/spritesheet.png');
    background-image: linear-gradient(transparent, transparent), url('../images/spritesheet.svg');
    background-repeat: no-repeat;
    background-size: 300px 30px;
    background-clip: padding-box;
  }
  
  .leaflet-retina .leaflet-draw-toolbar a {
    background-image: url('../images/spritesheet-2x.png');
    background-image: linear-gradient(transparent, transparent), url('../images/spritesheet.svg');
  }
  