<!DOCTYPE html>
<html lang="en">
<head>
    <title>Allegheny Lease Map</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaflet Map</title>
    <!-- Include Leaflet CSS and JavaScript -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/supercluster/7.1.0/supercluster.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <style>
        #map { /* Style the map container */
            height: 100vh;
            width: 85%;
            float: right;
        }

        .leaflet-control-geocoder {
            {% comment %} margin-bottom: 25px !important; {% endcomment %}
         }

        .leaflet-control-geocoder-form input{
            width: 100% !important;
            font-family: Arial;
            font-size: 12px;
         }
        #sidebar { /* Style the sidebar */
            width: 15%; /* Take 10% of the screen width */
            {% comment %} min-width: 200px; {% endcomment %}
            height: 100vh;
            background-color: #31322e;
            float: left; /* Float sidebar to the left */
            font-family: Arial;
            color: #dadada;
            overflow: auto;
            max-height: 90%;
            max-width:15%;
        }

        /* Style the content inside the sidebar */
        #sidebar-content {
            margin-top: -20px;
            padding: 20px;
        }

        .filter {
            margin-bottom: 10px;
        }

        .filter h4 {
            cursor: pointer;
            margin-bottom: 5px;
            color: #fff;
            position: relative;
        }

        .filter h4::after {
            content: '+';
            float: right;
            position: absolute;
            right: 0;
        }

        .filter-content {
            display: none;
        }

        .filter-content.show {
            display: block;
            font-size: 12px;
            background-color: #3b3c38;
            overflow-y: auto;
            max-height: 200px;
        }

        .filter-content.show + h4::after {
            content: '-';
        }

        /* Style smaller checkboxes */
        .filter input[type="checkbox"] {
            transform: scale(0.75);
            margin-right: 5px;
        }
        
    </style>
</head>
<body>
    <div id="map"></div> <!-- Map container -->
    <div id="sidebar">
        <div id="sidebar-content">
            <div id="search-container">
                <h2>Go To Location</h2>
                {% comment %} <input type="text" id="search-input" placeholder="Search for a location..."> {% endcomment %}
            </div>
            <br>
            <br>
            <h2>Filters</h2>
            <!-- Date filter -->
            <div class="filter">
                <h4 onclick="toggleFilter('date')">Date</h4>
                <div class="filter-content date-content">
                    <label for="from-date">From:</label>
                    <input type="date" id="from-date"><br>
                    <label for="to-date">To:</label>
                    <input type="date" id="to-date">
                </div>
            </div>
            <!-- Record type filter -->
            <div class="filter">
                <h4 onclick="toggleFilter('record-type')">Record Type</h4>
                <div class="filter-content record-type-content">
                    <input type="checkbox" id="record-type0" checked> <label for="record-type0">Addendum Oil & Gas</label><br>
                    <input type="checkbox" id="record-type1" checked> <label for="record-type1">Addendum Right Of Way</label><br>
                    <input type="checkbox" id="record-type2" checked> <label for="record-type2">Affidavit</label><br>
                    <input type="checkbox" id="record-type3" checked> <label for="record-type3">Agreement</label><br>
                    <input type="checkbox" id="record-type4" checked> <label for="record-type4">Am Ratification</label><br>
                    <input type="checkbox" id="record-type5" checked> <label for="record-type5">Amend Asgmt Oil & Gas</label><br>
                    <input type="checkbox" id="record-type6" checked> <label for="record-type6">Amend Declaration</label><br>
                    <input type="checkbox" id="record-type7" checked> <label for="record-type7">Amend Lease</label><br>
                    <input type="checkbox" id="record-type8" checked> <label for="record-type8">Amend O & G</label><br>
                    <input type="checkbox" id="record-type9" checked> <label for="record-type9">Amend R Of W</label><br>
                    <input type="checkbox" id="record-type10" checked> <label for="record-type10">Amend Right Of Way</label><br>
                    <input type="checkbox" id="record-type11" checked> <label for="record-type11">Amendment Agreement</label><br>
                    <input type="checkbox" id="record-type12" checked> <label for="record-type12">Asgmt Agrt</label><br>
                    <input type="checkbox" id="record-type13" checked> <label for="record-type13">Asgmt Bill Of Sale</label><br>
                    <input type="checkbox" id="record-type14" checked> <label for="record-type14">Asgmt Interest</label><br>
                    <input type="checkbox" id="record-type15" checked> <label for="record-type15">Asgmt Lease</label><br>
                    <input type="checkbox" id="record-type16" checked> <label for="record-type16">Asgmt Leases Rents</label><br>
                    <input type="checkbox" id="record-type17" checked> <label for="record-type17">Asgmt O & G</label><br>
                    <input type="checkbox" id="record-type18" checked> <label for="record-type18">Asgmt Right Of Way</label><br>
                    <input type="checkbox" id="record-type19" checked> <label for="record-type19">Asgmt Royalty Interest</label><br>
                    <input type="checkbox" id="record-type20" checked> <label for="record-type20">Asgmt Sale Agrt</label><br>
                    <input type="checkbox" id="record-type21" checked> <label for="record-type21">Bill Of Sale</label><br>
                    <input type="checkbox" id="record-type22" checked> <label for="record-type22">Consent To Lease</label><br>
                    <input type="checkbox" id="record-type23" checked> <label for="record-type23">Decl Covt & C</label><br>
                    <input type="checkbox" id="record-type24" checked> <label for="record-type24">Decl Covt Cond Rest</label><br>
                    <input type="checkbox" id="record-type25" checked> <label for="record-type25">Decl Tak</label><br>
                    <input type="checkbox" id="record-type26" checked> <label for="record-type26">Declaration</label><br>
                    <input type="checkbox" id="record-type27" checked> <label for="record-type27">Deed</label><br>
                    <input type="checkbox" id="record-type28" checked> <label for="record-type28">Designation</label><br>
                    <input type="checkbox" id="record-type29" checked> <label for="record-type29">Easement</label><br>
                    <input type="checkbox" id="record-type30" checked> <label for="record-type30">Error In Recording</label><br>
                    <input type="checkbox" id="record-type31" checked> <label for="record-type31">Lease</label><br>
                    <input type="checkbox" id="record-type32" checked> <label for="record-type32">Lease Ext Agrt</label><br>
                    <input type="checkbox" id="record-type33" checked> <label for="record-type33">License</label><br>
                    <input type="checkbox" id="record-type34" checked> <label for="record-type34">Memorandum</label><br>
                    <input type="checkbox" id="record-type35" checked> <label for="record-type35">Modification Of Oil & Gas</label><br>
                    <input type="checkbox" id="record-type36" checked> <label for="record-type36">Notice Condmn</label><br>
                    <input type="checkbox" id="record-type37" checked> <label for="record-type37">Notice Extension Lease</label><br>
                    <input type="checkbox" id="record-type38" checked> <label for="record-type38">Notice Of Interest</label><br>
                    <input type="checkbox" id="record-type39" checked> <label for="record-type39">O & G</label><br>
                    <input type="checkbox" id="record-type40" checked> <label for="record-type40">O Of C</label><br>
                    <input type="checkbox" id="record-type41" checked> <label for="record-type41">Partial Asgmt Oil & Gas</label><br>
                    <input type="checkbox" id="record-type42" checked> <label for="record-type42">Partial Assignment Wells</label><br>
                    <input type="checkbox" id="record-type43" checked> <label for="record-type43">Partial Deed Release</label><br>
                    <input type="checkbox" id="record-type44" checked> <label for="record-type44">Permit</label><br>
                    <input type="checkbox" id="record-type45" checked> <label for="record-type45">R Of W</label><br>
                    <input type="checkbox" id="record-type46" checked> <label for="record-type46">Ratification</label><br>
                    <input type="checkbox" id="record-type47" checked> <label for="record-type47">Ratify O & G</label><br>
                    <input type="checkbox" id="record-type48" checked> <label for="record-type48">Regulate Grant</label><br>
                    <input type="checkbox" id="record-type49" checked> <label for="record-type49">Rel O & G</label><br>
                    <input type="checkbox" id="record-type50" checked> <label for="record-type50">Rel Rights</label><br>
                    <input type="checkbox" id="record-type51" checked> <label for="record-type51">Release</label><br>
                    <input type="checkbox" id="record-type52" checked> <label for="record-type52">Release Lease</label><br>
                    <input type="checkbox" id="record-type53" checked> <label for="record-type53">Release Oil & Gas Lease</label><br>
                    <input type="checkbox" id="record-type54" checked> <label for="record-type54">Release R Of W</label><br>
                    <input type="checkbox" id="record-type55" checked> <label for="record-type55">Sheriff Deed</label><br>
                    <input type="checkbox" id="record-type56" checked> <label for="record-type56">Sub Oil & Gas</label><br>
                    <input type="checkbox" id="record-type57" checked> <label for="record-type57">Surr O & G</label><br>
                    <input type="checkbox" id="record-type58" checked> <label for="record-type58">Surrender Lease</label><br>
                    <input type="checkbox" id="record-type59" checked> <label for="record-type59">Term Lease</label><br>
                    <input type="checkbox" id="record-type60" checked> <label for="record-type60">Term O & G</label><br>
                    <input type="checkbox" id="record-type61" checked> <label for="record-type61">Term Right Of Way</label><br>
                    <input type="checkbox" id="record-type62" checked> <label for="record-type62">Unit Operation</label><br>
                </div>
            </div>
            <!-- Company filter -->
            <div class="filter company">
                <h4 onclick="toggleFilter('company')">Company</h4>
                <div class="filter-content company-content">
                    <input type="checkbox" id="company0" checked> <label for="company0">All American</label><br>
                    <input type="checkbox" id="company1" checked> <label for="company1">Atlas</label><br>
                    <input type="checkbox" id="company2" checked> <label for="company2">Baron Group</label><br>
                    <input type="checkbox" id="company3" checked> <label for="company3">Bittinger Drilling</label><br>
                    <input type="checkbox" id="company4" checked> <label for="company4">Blx</label><br>
                    <input type="checkbox" id="company5" checked> <label for="company5">Bow & Arrow</label><br>
                    <input type="checkbox" id="company6" checked> <label for="company6">Carnegie Natural Gas</label><br>
                    <input type="checkbox" id="company7" checked> <label for="company7">Carter Oil & Gas</label><br>
                    <input type="checkbox" id="company8" checked> <label for="company8">Chesapeake</label><br>
                    <input type="checkbox" id="company9" checked> <label for="company9">Cnx</label><br>
                    <input type="checkbox" id="company10" checked> <label for="company10">Columbia Gas</label><br>
                    <input type="checkbox" id="company11" checked> <label for="company11">Cone Gathering</label><br>
                    <input type="checkbox" id="company12" checked> <label for="company12">Consol</label><br>
                    <input type="checkbox" id="company13" checked> <label for="company13">Dale Property Services</label><br>
                    <input type="checkbox" id="company14" checked> <label for="company14">Dominion</label><br>
                    <input type="checkbox" id="company15" checked> <label for="company15">Dorso</label><br>
                    <input type="checkbox" id="company16" checked> <label for="company16">Eqt</label><br>
                    <input type="checkbox" id="company17" checked> <label for="company17">Equitrans</label><br>
                    <input type="checkbox" id="company18" checked> <label for="company18">Everest Exploration</label><br>
                    <input type="checkbox" id="company19" checked> <label for="company19">Great Lakes Energy</label><br>
                    <input type="checkbox" id="company20" checked> <label for="company20">H&M Holdings</label><br>
                    <input type="checkbox" id="company21" checked> <label for="company21">Huntley & Huntley</label><br>
                    <input type="checkbox" id="company22" checked> <label for="company22">Jj Oil & Gas</label><br>
                    <input type="checkbox" id="company23" checked> <label for="company23">Kriebel</label><br>
                    <input type="checkbox" id="company24" checked> <label for="company24">Marco Drilling</label><br>
                    <input type="checkbox" id="company25" checked> <label for="company25">Markwest</label><br>
                    <input type="checkbox" id="company26" checked> <label for="company26">Natural Energy</label><br>
                    <input type="checkbox" id="company27" checked> <label for="company27">Noble Energy</label><br>
                    <input type="checkbox" id="company28" checked> <label for="company28">Oil & Gas Mgmt</label><br>
                    <input type="checkbox" id="company29" checked> <label for="company29">Patriot Exploration</label><br>
                    <input type="checkbox" id="company30" checked> <label for="company30">Penneco</label><br>
                    <input type="checkbox" id="company31" checked> <label for="company31">Peoples Natural Gas</label><br>
                    <input type="checkbox" id="company32" checked> <label for="company32">Phillips</label><br>
                    <input type="checkbox" id="company33" checked> <label for="company33">Principle Energy Resources</label><br>
                    <input type="checkbox" id="company34" checked> <label for="company34">Range Resources</label><br>
                    <input type="checkbox" id="company35" checked> <label for="company35">Rice Drilling</label><br>
                    <input type="checkbox" id="company36" checked> <label for="company36">Shell</label><br>
                    <input type="checkbox" id="company37" checked> <label for="company37">Statoil Usa</label><br>
                    <input type="checkbox" id="company38" checked> <label for="company38">Sunoco</label><br>
                    <input type="checkbox" id="company39" checked> <label for="company39">Sylvan Energy</label><br>
                    <input type="checkbox" id="company40" checked> <label for="company40">Turm Oil</label><br>
                    <input type="checkbox" id="company41" checked> <label for="company41">Wadwell Group</label><br>
                    <input type="checkbox" id="company42" checked> <label for="company42">Xto Energy</label><br>
                </div>
            </div>
            <!-- Municipality filter -->
            <div class="filter municipality">
                <h4 onclick="toggleFilter('municipality')">Municipality</h4>
                <div class="filter-content municipality-content">
                    <input type="checkbox" id="municipality0" checked> <label for="municipality0">Allison Park</label><br>
                    <input type="checkbox" id="municipality1" checked> <label for="municipality1">Ambridge</label><br>
                    <input type="checkbox" id="municipality2" checked> <label for="municipality2">Baden</label><br>
                    <input type="checkbox" id="municipality3" checked> <label for="municipality3">Bairdford</label><br>
                    <input type="checkbox" id="municipality4" checked> <label for="municipality4">Belle Vernon</label><br>
                    <input type="checkbox" id="municipality5" checked> <label for="municipality5">Bethel Park</label><br>
                    <input type="checkbox" id="municipality6" checked> <label for="municipality6">Brackenridge</label><br>
                    <input type="checkbox" id="municipality7" checked> <label for="municipality7">Braddock</label><br>
                    <input type="checkbox" id="municipality8" checked> <label for="municipality8">Bridgeville</label><br>
                    <input type="checkbox" id="municipality9" checked> <label for="municipality9">Buena Vista</label><br>
                    <input type="checkbox" id="municipality10" checked> <label for="municipality10">Bunola</label><br>
                    <input type="checkbox" id="municipality11" checked> <label for="municipality11">Carnegie</label><br>
                    <input type="checkbox" id="municipality12" checked> <label for="municipality12">Cecil</label><br>
                    <input type="checkbox" id="municipality13" checked> <label for="municipality13">Cheswick</label><br>
                    <input type="checkbox" id="municipality14" checked> <label for="municipality14">Clairton</label><br>
                    <input type="checkbox" id="municipality15" checked> <label for="municipality15">Clinton</label><br>
                    <input type="checkbox" id="municipality16" checked> <label for="municipality16">Coraopolis</label><br>
                    <input type="checkbox" id="municipality17" checked> <label for="municipality17">Coulters</label><br>
                    <input type="checkbox" id="municipality18" checked> <label for="municipality18">Creighton</label><br>
                    <input type="checkbox" id="municipality19" checked> <label for="municipality19">Crescent</label><br>
                    <input type="checkbox" id="municipality20" checked> <label for="municipality20">Cuddy</label><br>
                    <input type="checkbox" id="municipality21" checked> <label for="municipality21">Curtisville</label><br>
                    <input type="checkbox" id="municipality22" checked> <label for="municipality22">Dravosburg</label><br>
                    <input type="checkbox" id="municipality23" checked> <label for="municipality23">Duquesne</label><br>
                    <input type="checkbox" id="municipality24" checked> <label for="municipality24">East Mc Keesport</label><br>
                    <input type="checkbox" id="municipality25" checked> <label for="municipality25">East Pittsburgh</label><br>
                    <input type="checkbox" id="municipality26" checked> <label for="municipality26">Elizabeth</label><br>
                    <input type="checkbox" id="municipality27" checked> <label for="municipality27">Finleyville</label><br>
                    <input type="checkbox" id="municipality28" checked> <label for="municipality28">Freeport</label><br>
                    <input type="checkbox" id="municipality29" checked> <label for="municipality29">Gibsonia</label><br>
                    <input type="checkbox" id="municipality30" checked> <label for="municipality30">Glassport</label><br>
                    <input type="checkbox" id="municipality31" checked> <label for="municipality31">Glenshaw</label><br>
                    <input type="checkbox" id="municipality32" checked> <label for="municipality32">Greenock</label><br>
                    <input type="checkbox" id="municipality33" checked> <label for="municipality33">Harwick</label><br>
                    <input type="checkbox" id="municipality34" checked> <label for="municipality34">Homestead</label><br>
                    <input type="checkbox" id="municipality35" checked> <label for="municipality35">Imperial</label><br>
                    <input type="checkbox" id="municipality36" checked> <label for="municipality36">Indianola</label><br>
                    <input type="checkbox" id="municipality37" checked> <label for="municipality37">Irwin</label><br>
                    <input type="checkbox" id="municipality38" checked> <label for="municipality38">Jefferson Hills</label><br>
                    <input type="checkbox" id="municipality39" checked> <label for="municipality39">Leetsdale</label><br>
                    <input type="checkbox" id="municipality40" checked> <label for="municipality40">Mars</label><br>
                    <input type="checkbox" id="municipality41" checked> <label for="municipality41">Mc Donald</label><br>
                    <input type="checkbox" id="municipality42" checked> <label for="municipality42">Mc Kees Rocks</label><br>
                    <input type="checkbox" id="municipality43" checked> <label for="municipality43">Mc Keesport</label><br>
                    <input type="checkbox" id="municipality44" checked> <label for="municipality44">Mcdonald</label><br>
                    <input type="checkbox" id="municipality45" checked> <label for="municipality45">Mckeesport</label><br>
                    <input type="checkbox" id="municipality46" checked> <label for="municipality46">Monongahela</label><br>
                    <input type="checkbox" id="municipality47" checked> <label for="municipality47">Monroeville</label><br>
                    <input type="checkbox" id="municipality48" checked> <label for="municipality48">Morgan</label><br>
                    <input type="checkbox" id="municipality49" checked> <label for="municipality49">Murrysville</label><br>
                    <input type="checkbox" id="municipality50" checked> <label for="municipality50">Natrona Heights</label><br>
                    <input type="checkbox" id="municipality51" checked> <label for="municipality51">New Kensington</label><br>
                    <input type="checkbox" id="municipality52" checked> <label for="municipality52">North Fayette</label><br>
                    <input type="checkbox" id="municipality53" checked> <label for="municipality53">North Fayette Township</label><br>
                    <input type="checkbox" id="municipality54" checked> <label for="municipality54">North Versailles</label><br>
                    <input type="checkbox" id="municipality55" checked> <label for="municipality55">Oakdale</label><br>
                    <input type="checkbox" id="municipality56" checked> <label for="municipality56">Oakmont</label><br>
                    <input type="checkbox" id="municipality57" checked> <label for="municipality57">Pitcairn</label><br>
                    <input type="checkbox" id="municipality58" checked> <label for="municipality58">Pittsburgh</label><br>
                    <input type="checkbox" id="municipality59" checked> <label for="municipality59">Plum</label><br>
                    <input type="checkbox" id="municipality60" checked> <label for="municipality60">Presto</label><br>
                    <input type="checkbox" id="municipality61" checked> <label for="municipality61">Russellton</label><br>
                    <input type="checkbox" id="municipality62" checked> <label for="municipality62">Saxonburg</label><br>
                    <input type="checkbox" id="municipality63" checked> <label for="municipality63">Sewickley</label><br>
                    <input type="checkbox" id="municipality64" checked> <label for="municipality64">South Park</label><br>
                    <input type="checkbox" id="municipality65" checked> <label for="municipality65">Springdale</label><br>
                    <input type="checkbox" id="municipality66" checked> <label for="municipality66">Sturgeon</label><br>
                    <input type="checkbox" id="municipality67" checked> <label for="municipality67">Sutersville</label><br>
                    <input type="checkbox" id="municipality68" checked> <label for="municipality68">Tarentum</label><br>
                    <input type="checkbox" id="municipality69" checked> <label for="municipality69">Trafford</label><br>
                    <input type="checkbox" id="municipality70" checked> <label for="municipality70">Turtle Creek</label><br>
                    <input type="checkbox" id="municipality71" checked> <label for="municipality71">Valencia</label><br>
                    <input type="checkbox" id="municipality72" checked> <label for="municipality72">Verona</label><br>
                    <input type="checkbox" id="municipality73" checked> <label for="municipality73">Wall</label><br>
                    <input type="checkbox" id="municipality74" checked> <label for="municipality74">Warrendale</label><br>
                    <input type="checkbox" id="municipality75" checked> <label for="municipality75">West Elizabeth</label><br>
                    <input type="checkbox" id="municipality76" checked> <label for="municipality76">West Mifflin</label><br>
                    <input type="checkbox" id="municipality77" checked> <label for="municipality77">West Newton</label><br>
                    <input type="checkbox" id="municipality78" checked> <label for="municipality78">Wexford</label><br>
                </div>
            </div>
            <!-- School district filter -->
            <div class="filter">
                <h4 onclick="toggleFilter('school-district')">School District</h4>
                <div class="filter-content school-district-content">
                    <input type="checkbox" id="school-district0" checked> <label for="school-district0">Allegheny Valley</label><br>
                    <input type="checkbox" id="school-district1" checked> <label for="school-district1">Avonworth</label><br>
                    <input type="checkbox" id="school-district2" checked> <label for="school-district2">Baldwin Whitehall</label><br>
                    <input type="checkbox" id="school-district3" checked> <label for="school-district3">Bethel Park</label><br>
                    <input type="checkbox" id="school-district4" checked> <label for="school-district4">Brentwood Boro</label><br>
                    <input type="checkbox" id="school-district5" checked> <label for="school-district5">Carlynton</label><br>
                    <input type="checkbox" id="school-district6" checked> <label for="school-district6">Chartiers Valley</label><br>
                    <input type="checkbox" id="school-district7" checked> <label for="school-district7">Clairton City</label><br>
                    <input type="checkbox" id="school-district8" checked> <label for="school-district8">Cornell</label><br>
                    <input type="checkbox" id="school-district9" checked> <label for="school-district9">Deer Lakes</label><br>
                    <input type="checkbox" id="school-district10" checked> <label for="school-district10">Duquesne City</label><br>
                    <input type="checkbox" id="school-district11" checked> <label for="school-district11">East Allegheny</label><br>
                    <input type="checkbox" id="school-district12" checked> <label for="school-district12">Elizabeth Forward</label><br>
                    <input type="checkbox" id="school-district13" checked> <label for="school-district13">Fort Cherry</label><br>
                    <input type="checkbox" id="school-district14" checked> <label for="school-district14">Fox Chapel Area</label><br>
                    <input type="checkbox" id="school-district15" checked> <label for="school-district15">Gateway</label><br>
                    <input type="checkbox" id="school-district16" checked> <label for="school-district16">Hampton Township</label><br>
                    <input type="checkbox" id="school-district17" checked> <label for="school-district17">Highlands</label><br>
                    <input type="checkbox" id="school-district18" checked> <label for="school-district18">Keystone Oaks</label><br>
                    <input type="checkbox" id="school-district19" checked> <label for="school-district19">Mckeesport Area</label><br>
                    <input type="checkbox" id="school-district20" checked> <label for="school-district20">Montour</label><br>
                    <input type="checkbox" id="school-district21" checked> <label for="school-district21">Moon Area</label><br>
                    <input type="checkbox" id="school-district22" checked> <label for="school-district22">Mt Lebanon</label><br>
                    <input type="checkbox" id="school-district23" checked> <label for="school-district23">North Allegheny</label><br>
                    <input type="checkbox" id="school-district24" checked> <label for="school-district24">North Hills</label><br>
                    <input type="checkbox" id="school-district25" checked> <label for="school-district25">Northgate</label><br>
                    <input type="checkbox" id="school-district26" checked> <label for="school-district26">Norwin</label><br>
                    <input type="checkbox" id="school-district27" checked> <label for="school-district27">Penn-Trafford</label><br>
                    <input type="checkbox" id="school-district28" checked> <label for="school-district28">Penn Hills Twp</label><br>
                    <input type="checkbox" id="school-district29" checked> <label for="school-district29">Pine-Richland</label><br>
                    <input type="checkbox" id="school-district30" checked> <label for="school-district30">Pittsburgh</label><br>
                    <input type="checkbox" id="school-district31" checked> <label for="school-district31">Plum Boro</label><br>
                    <input type="checkbox" id="school-district32" checked> <label for="school-district32">Quaker Valley</label><br>
                    <input type="checkbox" id="school-district33" checked> <label for="school-district33">Riverview</label><br>
                    <input type="checkbox" id="school-district34" checked> <label for="school-district34">Shaler Area</label><br>
                    <input type="checkbox" id="school-district35" checked> <label for="school-district35">South Allegheny</label><br>
                    <input type="checkbox" id="school-district36" checked> <label for="school-district36">South Fayette Twp</label><br>
                    <input type="checkbox" id="school-district37" checked> <label for="school-district37">South Park</label><br>
                    <input type="checkbox" id="school-district38" checked> <label for="school-district38">Steel Valley</label><br>
                    <input type="checkbox" id="school-district39" checked> <label for="school-district39">Sto-Rox</label><br>
                    <input type="checkbox" id="school-district40" checked> <label for="school-district40">Upper St Clair</label><br>
                    <input type="checkbox" id="school-district41" checked> <label for="school-district41">West Allegheny</label><br>
                    <input type="checkbox" id="school-district42" checked> <label for="school-district42">West Jefferson Hills</label><br>
                    <input type="checkbox" id="school-district43" checked> <label for="school-district43">West Mifflin Area</label><br>
                    <input type="checkbox" id="school-district44" checked> <label for="school-district44">Wilkinsburg Boro</label><br>
                    <input type="checkbox" id="school-district45" checked> <label for="school-district45">Woodland Hills</label><br>
                </div>
            </div>
            <!-- Zoning filter -->
            <div class="filter">
                <h4 onclick="toggleFilter('zoning')">Zoning</h4>
                <div class="filter-content zoning-content">
                    <input type="checkbox" id="zoning0" checked> <label for="zoning0">Agricultural</label><br>
                    <input type="checkbox" id="zoning1" checked> <label for="zoning1">Commercial</label><br>
                    <input type="checkbox" id="zoning2" checked> <label for="zoning2">Government</label><br>
                    <input type="checkbox" id="zoning3" checked> <label for="zoning3">Industrial</label><br>
                    <input type="checkbox" id="zoning4" checked> <label for="zoning4">Other</label><br>
                    <input type="checkbox" id="zoning5" checked> <label for="zoning5">Residential</label><br>
                    <input type="checkbox" id="zoning6" checked> <label for="zoning6">Utilities</label><br>
                </div>
            </div>
            <br>
            <!-- Button to apply filters -->
            <button onclick="applyFilters()">Apply Filters</button>
        </div>
    </div>

    <div id="panel">
        <div id="toggle-btn" onclick="togglePanel()">Toggle Panel</div>
        <div id="panel-content">
            <!-- Content goes here -->
        </div>
    </div>
    <script>
        // Initialize Leaflet map
        
        var markers; // Declare markers variable outside functions
        var polygonLayer;
        var map = L.map('map').setView([40.4406, -79.9959], 11); // Centered over Pittsburgh, PA


        var geocoder = L.Control.Geocoder.nominatim();
        if (typeof URLSearchParams !== 'undefined' && location.search) {
          // parse /?geocoder=nominatim from URL
          var params = new URLSearchParams(location.search);
          var geocoderString = params.get('geocoder');
          if (geocoderString && L.Control.Geocoder[geocoderString]) {
            console.log('Using geocoder', geocoderString);
            geocoder = L.Control.Geocoder[geocoderString]();
          } else if (geocoderString) {
            console.warn('Unsupported geocoder', geocoderString);
          }
        }
  
        var control = L.Control.geocoder({
          collapsed: false,
          placeholder: '',
          position:'topleft',
          geocoder: geocoder
        }).addTo(map);
        var marker;
  

        // Call the getContainer routine.
        var htmlObject = control.getContainer();
        // Get the desired parent node.
        var a = document.getElementById('search-container');

        // Finally append that node to the new parent, recursively searching out and re-parenting nodes.
        function setParent(el, newParent)
        {
            newParent.appendChild(el);
        }
        setParent(htmlObject, a);

        // Add tile layer (OpenStreetMap)
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);



        // Function to toggle filter visibility
        function toggleFilter(filterName) {
            var filterContent = document.querySelector('.' + filterName + '-content');
            var filterIcon = document.querySelector('.filter.h4::after');
            if (filterContent.classList.contains('show')) {
                filterContent.classList.remove('show');
                filterIcon.textContent = '+';
            } else {
                filterContent.classList.add('show');
                filterIcon.textContent = '-';
            }
        }

    </script>
</body>
</html>
